# SPDX-License-Identifier: Apache-2.0

openapi: 3.1.0
info:
  title: Landscape OpenAPI Spec
  version: "0.0.4"
  description: API specification for Canonical Landscape.
  contact:
    name: Jan-Yaeger Dhillon
    email: jan.dhillon@canonical.com
    url: https://ubuntu.com/landscape
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html

tags:
  - name: Authentication
    description: Authentication and authorization operations.
  - name: Legacy Actions
    description: Legacy API endpoints for backward compatibility.
  - name: Scripts
    description: Operations for managing scripts.

servers:
  - url: https://{landscape_root_url}
    variables:
      landscape_root_url:
        default: landscape.canonical.com

security:
  - bearerAuth: []

paths:
  "/api/scripts/{script_id}":
    $ref: "./components/paths/script.yaml#/paths/~1api~1scripts~1{script_id}"
  "/api/scripts/{script_id}:archive":
    $ref: "./components/paths/script.yaml#/paths/~1api~1scripts~1{script_id}:archive"
  "/api/scripts/{script_id}:redact":
    $ref: "./components/paths/script.yaml#/paths/~1api~1scripts~1{script_id}:redact"
  "/api":
    $ref: "./components/paths/actions.yaml#/paths/~1api"
  "/api/login":
    $ref: "./components/paths/auth.yaml#/paths/~1api~1login"
  "/api/login/access-key":
    $ref: "./components/paths/auth.yaml#/paths/~1api~1login~1access-key"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    ScriptIdPathParam:
      $ref: "./components/parameters/script.yaml#/ScriptIdPathParam"
    LegacyVersionParam:
      $ref: "./components/parameters/legacy.yaml#/LegacyVersionParam"
    LegacyActionParam:
      $ref: "./components/parameters/legacy.yaml#/LegacyActionParam"

  schemas:
    AccessKeyLoginRequest:
      $ref: "./components/schemas/auth.yaml#/AccessKeyLoginRequest"
    Error:
      $ref: "./components/schemas/error.yaml#/Error"
    LegacyScriptAttachment:
      $ref: "./components/schemas/script.yaml#/LegacyScriptAttachment"
    LegacyScriptCode:
      $ref: "./components/schemas/script.yaml#/LegacyScriptCode"
    LegacyScriptCreator:
      $ref: "./components/schemas/script.yaml#/LegacyScriptCreator"
    LoginAccount:
      $ref: "./components/schemas/auth.yaml#/LoginAccount"
    LoginRequest:
      $ref: "./components/schemas/auth.yaml#/LoginRequest"
    LoginResponse:
      $ref: "./components/schemas/auth.yaml#/LoginResponse"
    ScriptAttachment:
      $ref: "./components/schemas/script.yaml#/ScriptAttachment"
    ScriptCreator:
      $ref: "./components/schemas/script.yaml#/ScriptCreatedBy"
    ScriptEditor:
      $ref: "./components/schemas/script.yaml#/ScriptLastEditedBy"
    ScriptProfile:
      $ref: "./components/schemas/script.yaml#/ScriptProfile"
    ScriptResult:
      $ref: "./components/schemas/script.yaml#/ScriptResult"
    V1Script:
      $ref: "./components/schemas/script.yaml#/V1Script"
    V2Script:
      $ref: "./components/schemas/script.yaml#/V2Script"

  responses:
    Unauthorized:
      $ref: "./components/responses/error.yaml#/Unauthorized"
    BadRequest:
      $ref: "./components/responses/error.yaml#/BadRequest"
    NotFound:
      $ref: "./components/responses/error.yaml#/NotFound"
    ScriptNotFound:
      $ref: "./components/responses/error.yaml#/ScriptNotFound"
    LegacyActionResponse:
      $ref: "./components/responses/legacy.yaml#/LegacyActionResponse"
